
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
  
  margin: 0;
  padding : 0;
  overflow-x: hidden;
  box-sizing: border-box;

}

body {
  background: url('bg.gif');
  background-repeat: no-repeat;
  background-size: 100vw 100vh ;
  padding: 0;
  margin: 0;
}
.container{
  width: 100%;
  height:6%;
  top: 0;
  position: fixed;
  overflow-x: hidden;
}
.navbar{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  top: 0;
  right: -100%;
  position: fixed;
  align-items: center;
  background-color: #185cab;
  transition: all 0.5s cubic-bezier(1, 0, 0, 1)
}
.change{
  right: 0%;
}
  .logo {
  width: 13%;
  margin-left: 10px;
  margin-top: 17px;
  height: 6%; 
  position: fixed;

}
.skill{
  display:none;
}
.hamburger{
  border: 1px solid #2c2c2c;
  border-radius: 70%;
  width: 14%;
  height: 7%;
  display: flex;
  flex-direction: column;
  top: 17px;
  right: 20px;
  position: fixed;
  padding: 16px;
  cursor: pointer;
  margin-bottom: 3px ;
  justify-content: space-around;
}
.bar{
  width: 100%;
  height: 5%;
  margin: 0;
  background: #eee;
  transition: all 0.2s;
}
.change .bar_1{
  transform: rotate(-45deg) translate(-5px, 1px) ;
}
.change .bar_3 {
  transform: rotate(45deg) translate(-4px, -1px) ;
}
.navbar_list {
  margin-top: 420%;
  margin-left:30px;
}

.nav_items {
  list-style: none;
  margin: 20px;
}

.nav_links {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #eee;
}

.heading{
  width: 100%;
  height: 100%;
  margin-top: 50vh;
  padding-left: 20px;
  padding-right: 20px;
  color: #eee;
}
.heading h1  {
  font-size: 25px;
  margin: 45px 45px ;
}
.heading p {
  font-size: 9.2pt;
  margin: 45px 45px;
}
.scrl{
  color: #fff;
  margin: 20px 62px;
  font-size: 8pt;
  font-weight: bold;
}
.conr {
  padding: 30px 30px ;
  margin-top: 30vh;
  width : 100%;
  height: 100%;
}
.conr p{
  font-family: sans;
  font-size: 45px;
  color: #282828;
  margin-left: 20px;
}
.conr a {
  font-size: 15pt;
  color : #185cab;
  margin-left: 60px;
}
.conr li{
  margin: 30px 80px ;
  font-size: 8pt;
  font-weight: bold;
}
.aside p {
  margin-top: 48px;
  font-size : 9.8pt;
  margin-left: 35px;
  padding-right: 80px;
  margin-bottom: 80px;
}
.beside img{
  margin-top: 40px;
  margin-left: 110px;
  margin-bottom:0px;
  border-radius: 20px;
  width: 54%;
  height: 54%;
  
}
.beside video{
  border-radius: 20px;
  margin: -2px 30px;
  width: 80%;
  height:100%;
}

.beside p{
  margin-top: 50px;
  font-weight: normal;
  color: #212121;
  font-size : 16pt;
  margin-left: 35px;
  margin-bottom: 80px;
}
.beside li{
  font-weight: bold;
  margin: 100px 100px;
  font-size: 8pt;
}
@media (min-width:768px) {
  .logo {
    width: 6%;
    margin-left: 26px;
    margin-top: 30px;
    height: 3%;
    position: fixed;
  }
.skill{
  display:none;
}
  .hamburger {
    padding: 20px;
    margin-right: 17px;
    margin-top: 12px;
    width: 6%;
    height: 3%;
  }
  .navbar_list{
    margin-top: 200%;
  }
  .heading{
    display: flex;
  }
  .heading h1{
    font-size: 25px;
    margin-top: 65% ;
    margin-left: 4%;
  }
  .heading p{
    font-size: 13.3pt;
    margin-top:65% ;
    margin-right: 7%;
    margin-left: 10%;
  }
  .scrl{
    font-size: 3pt;
  }
.conr p{
  font-size: 100px;
  margin-left: 20%;
  padding-bottom: 80px;
}
.conr a {
  font-size: 15pt;
  margin-left: 37%;
}
.conr li{
 margin-left: 30%;
  font-size:  80px ;
  font-size: 8pt;
  font-weight: bold;
}
.aside p {
  margin-top: 48px;
  font-size : 9.8pt;
  margin-left: 7%;
  padding-right: 40%;
  margin-bottom: 80px;
}
.beside img{
  margin-top: 10px;
  margin-left:40%;
  margin-bottom:0px;
  border-radius: 20px;
  width: 54%;
  height: 45%;
}
.beside p{
  margin-left: 10%;
  margin-right: 30%;
  margin-bottom: 10%;
}
.beside li{
  margin-left: 45%;
  margin-bottom: 20%;
}
}
@media (min-width:1280px) {
  .logo {
    width: 4%;
    margin-left: 35px;
    margin-top: 40x;
    height: 8%;
    position: fixed;
  }
.skill{
  margin-left:15px;
  margin-top:40px;
  width:100%;
  height:20%;
  position:fixed;
  color:#eee;
  display:flex;
  justify-content: space-around;
}
  .skill p{
    color:#eee;
  }
  .hamburger {
    padding: 23px;
    margin-right: 17px;
    margin-top: 39vh;
    width: 5%;
    height: 11%;
  }
  .navbar_list{
    margin-top: 70%;
  }
  .heading{
    margin-top:65vh;
    display: flex;
  }
  .heading h1{
    font-size: 25px;
    margin-top: 20px ;
    margin-left: 4%;
  }
  .heading p{
    font-size: 13.3pt;
    margin-top:40px ;
    margin-right: 7%;
    margin-left: 10%;
  }
  .scrl{
    font-size: 8pt;
  }
.conr p{
  font-size: 100px;
  margin-left: 20%;
  padding-bottom: 80px;
}
.conr a {
  font-size: 15pt;
  margin-left: 37%;
}
.conr li{
 margin-left: 30%;
  font-size:  80px ;
  font-size: 8pt;
  font-weight: bold;
}
.aside p {
  margin-top: 48px;
  font-size : 9.8pt;
  margin-left: 7%;
  padding-right: 40%;
  margin-bottom: 80px;
}
.beside img{
  margin-top: 10px;
  margin-left:30%;
  margin-bottom:0px;
  border-radius: 20px;
  width:54%;
  max-width: 54%;
  height: 45%;
  max-height:45%;
}
.beside p{
  margin-left: 10%;
  margin-right: 30%;
  margin-bottom: 10%;
}
.beside li{
  margin-left: 45%;
  margin-bottom: 20%;
}
}
